
{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      

      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}


        <!-- Changes due to 0.57 it seems to work, but feels strange --> 
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections }}
        {{ range $pages -}}
        {{ .Render "summary"}}
        {{ end -}}

      </div>
    </main>
{{ end }}
