{{ define "main" }}

{{ $date := (time .Params.eventdate) }}
{{ $director := .Params.Director }}

{{ if eq .Params.Director "Heike Kiefner-Jesatko" }}
  {{ $director = "<a href=\"/general/director\">Heike Kiefner-Jesatko</a>" | safeHTML }}
{{ end }}

<h1>{{ .Title  }}</h1>
<h2>{{ .Params.subtitle }}</h2>


<div>
  <time>
    {{ index $.Site.Data.weekdays_de (printf "%d" $date.Weekday) }}, 
    {{ $date.Day }}. 
    {{ index $.Site.Data.months_de (printf "%d" $date.Month) }} 
    {{ $date.Year }}

    {{ $date.Hour }}:{{ printf "%02d" $date.Minute }} Uhr
  </time>
</div>
<div>
  {{ .Params.Place }}, {{ .Params.Address }}
</div>



  {{ .Content }}

<div>
<span style="font-size:larger;">
  {{ .Params.performer }}, Leitung: <b>{{ $director }}</b>
</span>
</div>  

{{ end }}
