{{ define "main" }}

{{ $date := (time .Params.eventdate) }}
{{ $dateFormat := .Site.Params.DateTimeFormat | default "Mon Jan 2, 2006" }}
{{ $author :=  .Params.author | default .Site.Params.author }}
{{ $showNumberOfWords := .Params.ShowNumberOfWords | default .Site.Params.ShowNumberOfWords  }}

{{ $director := .Params.Director }}
{{ if eq .Params.Director "Heike Kiefner-Jesatko" }}
  {{ $director = "<a href=\"/general/director\">Heike Kiefner-Jesatko</a>" | safeHTML }}
{{ end }}

<h1>{{ .Title  }}</h1>
<h2>{{ .Params.subtitle }}</h2>

<div>
  <time datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
    {{ index $.Site.Data.weekdays_de (printf "%d" $date.Weekday) }}, 
    {{ $date.Day }}. 
    {{ index $.Site.Data.months_de (printf "%d" $date.Month) }} 
    {{ $date.Year }}
    
    {{ $date.Hour }}:{{ printf "%02d" $date.Minute }} Uhr
  </time>
</div>
<div>
  {{ .Params.Place }}, {{ .Params.Address }}
</div>

<div>
  <a href="{{ .Params.poster }}.pdf">
    <img style="margin-bottom: 15px; margin-top: 15px;" width="300px" src="{{ .Params.poster }}.png">
    </a>
</div>



  {{ .Content }}
{{ end }}
