{{ $date := (time .Params.eventdate) }}

<article class="mb-5 post">
  <header>

    <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>

    <div>
      <time datetime="{{ $date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
	{{ $date.Day }}.
	{{ index $.Site.Data.months_de (printf "%d" $date.Month) }}
	{{ $date.Year }}
	
	{{ $date.Hour }}:{{ printf "%02d" $date.Minute }} Uhr,
      </time>
      {{ .Params.Place }}
    </div>  
  </header>

  <footer>
  </footer>
</article>
