{{ define "main" }}

{{ $dateFormat := .Site.Params.DateFormat | default "Mon Jan 2, 2006" }}
{{ $author :=  .Params.author | default .Site.Params.author }}
{{ $showNumberOfWords := .Params.ShowNumberOfWords | default .Site.Params.ShowNumberOfWords  }}

<h1>{{ .Title }}</h1>

    <div class="post-meta">{{ if .Site.Params.ShowDate }}<span class="byline-icon fa fa-clock-o" aria-hidden="true"></span> <span class="screen-reader-text">{{ i18n "date" }}: </span><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time> - {{ end }}{{ if $author }}
    <span class="byline-icon fa fa-user" aria-hidden="true"></span><span class="screen-reader-text">{{ i18n "author" }}: </span> {{ $author }} - {{ end }}
    {{ if $showNumberOfWords }}{{ .FuzzyWordCount }} {{ i18n "words" }}{{ end }} </div>

<h3>{{ .Params.name }}</h3>

<p>{{ .Params.address }}</p>

<address>E-Mail: 
  <span style="unicode-bidi:bidi-override; direction: rtl;">{{ .Params.email }}</span>
</address>

{{ end }}
